.Logo {
    height: 12vmin;
    width: 12vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-dark);
    font-size: 3.7vmin;
    }

    .Logo :hover {
        color: var(--red);
    }