.CategoryList {
    color: whitesmoke;
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
    letter-spacing: .1vmin;
    }
    
    .CategoryList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    }
    
    .CategoryList li:hover:not(.active) {
    cursor: pointer;
    color: var(--red);
    font-size: 1.8vw;
    }
    
    .CategoryList li.active {
    color: var(--text-light);
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    }